@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*llamado a las tipografias por css*/
/*
****MIS FUENTES****
font-family: 'Oswald', sans-serif;
font-family: 'Staatliches', cursive;
*/
/*---------------------------------------GRID AREA*/
.grillaGeneral {
  display: grid;
  gap: 20px;
  grid-template-areas: "header" "titulo" "carousel" "masVendidos" "tutorial" "preguntas" "aside" "footer"; }

header {
  grid-area: header; }

.titulo {
  grid-area: titulo; }

.divCarousel {
  grid-area: carousel; }

.grillaMasVendidos {
  grid-area: masVendidos; }

.divTutorial {
  grid-area: tutorial; }

.preguntasFrecuentes {
  grid-area: preguntas; }

aside {
  grid-area: aside; }

footer {
  grid-area: footer; }

.slide img {
  height: 50vh; }

.accordion-item {
  font-family: "Staatliches", cursive;
  color: white; }

/*-----------------------------------------------------------------------------------------------MAIN---------*/
h1, h2, h3, h5 {
  color: white;
  font-size: 2.5em;
  padding: 25px;
  text-align: center;
  border: 3px white solid;
  border-radius: 75px;
  margin: 20px 0px 20px 0px;
  background-color: #A760FF; }

/*---------------------------------------------------------------------------------------IR AL ENCABEZADO----------*/
.irAlEncabezado {
  display: flex;
  align-self: center;
  margin-top: 25px; }
  .irAlEncabezado a {
    font-size: 2em;
    text-decoration: none;
    list-style: none;
    color: white; }

/**************************************************************************************--MEDIA QUERYS--*****************************************************************************************************************/
/***************************************************--PRODUCTOS-*/
.gridMensajes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
  justify-items: center; }

.divTextoProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #A760FF;
  border: 3px solid white;
  height: 200px;
  width: 300px; }

.divTextoProductos p {
  color: white;
  font-size: 1.5em; }

.grillaGeneralProductos {
  display: grid;
  gap: 20px;
  grid-template-areas: "header" "grillaProductos" "grillaMensajes" "aside" "footer"; }

header {
  grid-area: header; }

.grillaProductos {
  grid-area: grillaProductos; }

.grillaMensajes {
  grid-area: grillaMensajes;
  margin-top: 25px; }

footer {
  grid-area: footer; }

.gridProductos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 35px;
  justify-items: center;
  align-items: center; }
  .gridProductos .divProducto {
    width: 275px;
    overflow: hidden;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 15px #A760FF;
    margin: 10px 0 10px 0; }
    .gridProductos .divProducto .product-image {
      transition: 0.4s; }
      .gridProductos .divProducto .product-image img {
        width: 100%; }
        .gridProductos .divProducto .product-image imghover {
          transform: scale(1.1); }
    .gridProductos .divProducto .product-info h4 {
      color: white;
      font-size: 18px;
      padding: 0 25px;
      margin-bottom: 10px; }
    .gridProductos .divProducto .button {
      width: 100%;
      font-family: 'Oswald', sans-serif; }
      .gridProductos .divProducto .button button {
        background: #A760FF;
        color: white;
        font-weight: 350;
        font-size: 24px;
        text-transform: uppercase;
        padding: 16px 36px;
        border: 2px solid white;
        border-radius: 15px;
        transform: translate(0);
        overflow: hidden;
        width: 100%; }
        .gridProductos .divProducto .button button::before {
          content: "";
          position: absolute;
          background: white;
          width: 10px;
          top: 0;
          bottom: 0;
          left: -32px;
          transform: rotate(-16deg);
          filter: blur(6px); }
        .gridProductos .divProducto .button button:hover::before {
          left: calc(100% + 32px);
          transition: 1s; }

.glass-effect {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 32px; }

@media (min-width: 768px) {
  .gridProductos {
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0; }
    .gridProductos img {
      width: 75%; } }

@media (min-width: 1024px) {
  .gridProductos {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .gridProductos img {
      width: 90%; }
  .gridMensajes {
    grid-template-columns: repeat(3, 1fr); } }

/*----------------------------------------------------------------GALERIA---------------*/
.grillaGeneralGaleria {
  display: grid;
  gap: 20px;
  grid-template-areas: "header" "grillaGaleria" "aside" "footer"; }

.grillaGaleria {
  grid-area: grillaGaleria; }

.gridGaleria {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
  justify-items: center; }
  .gridGaleria img {
    width: 55%; }

.styleImgGaleria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

@media (min-width: 768px) {
  .gridGaleria {
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0; }
    .gridGaleria img {
      width: 75%; } }

@media (min-width: 1024px) {
  .gridGaleria {
    grid-template-columns: 1fr 1fr 1fr; }
    .gridGaleria img {
      width: 90%; } }

/*-------------------------------------------------------------------SOBRE NOSOTROS----------*/
.grillaGeneralSobreNosotros {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header" "parrafos" "imagenes" "aside" "footer"; }

.divSobreNosotros {
  grid-area: parrafos; }
  .divSobreNosotros p {
    text-align: center;
    color: white; }

.divImgSobreNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: imagenes; }
  .divImgSobreNosotros img {
    justify-self: center;
    width: 50%;
    height: 50%; }

.styleImgSobreNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

@media (min-width: 768px) {
  .divImgSobreNosotros img {
    width: 60%; } }

@media (min-width: 1024px) {
  .divImgSobreNosotros img {
    width: 40%; } }

/*------------------------------------------CONTACTO-----------------S*/
.sectionContactos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.divContacto {
  text-align: center;
  color: white;
  background-color: #A760FF;
  font-weight: bold;
  font-size: 20px;
  border: 3px solid white;
  padding: 30px;
  margin: 15px 10px 0 10px; }

.grillaGeneralContactos {
  display: grid;
  gap: 20px;
  grid-template-areas: "header" "sectionContactos" "form" "aside" "footer"; }

.sectionContactos {
  grid-area: sectionContactos; }

.divForm {
  grid-area: form; }

.form {
  color: white; }

/*******************ANIMACIONES*****************/
/*HEADER*/
.animation-Flicker:hover {
  -webkit-animation: text-flicker-in-glow 2s linear both;
  animation: text-flicker-in-glow 2s linear both; }

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0; }
  10% {
    opacity: 0;
    text-shadow: none; }
  10.1% {
    opacity: 1;
    text-shadow: none; }
  10.2% {
    opacity: 0;
    text-shadow: none; }
  20% {
    opacity: 0;
    text-shadow: none; }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); }
  20.6% {
    opacity: 0;
    text-shadow: none; }
  30% {
    opacity: 0;
    text-shadow: none; }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.6% {
    opacity: 0;
    text-shadow: none; }
  45% {
    opacity: 0;
    text-shadow: none; }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55.1% {
    opacity: 0;
    text-shadow: none; }
  57% {
    opacity: 0;
    text-shadow: none; }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  60.1% {
    opacity: 0;
    text-shadow: none; }
  65% {
    opacity: 0;
    text-shadow: none; }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  75.1% {
    opacity: 0;
    text-shadow: none; }
  77% {
    opacity: 0;
    text-shadow: none; }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85.1% {
    opacity: 0;
    text-shadow: none; }
  86% {
    opacity: 0;
    text-shadow: none; }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); } }

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0; }
  10% {
    opacity: 0;
    text-shadow: none; }
  10.1% {
    opacity: 1;
    text-shadow: none; }
  10.2% {
    opacity: 0;
    text-shadow: none; }
  20% {
    opacity: 0;
    text-shadow: none; }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); }
  20.6% {
    opacity: 0;
    text-shadow: none; }
  30% {
    opacity: 0;
    text-shadow: none; }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.6% {
    opacity: 0;
    text-shadow: none; }
  45% {
    opacity: 0;
    text-shadow: none; }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55.1% {
    opacity: 0;
    text-shadow: none; }
  57% {
    opacity: 0;
    text-shadow: none; }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  60.1% {
    opacity: 0;
    text-shadow: none; }
  65% {
    opacity: 0;
    text-shadow: none; }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  75.1% {
    opacity: 0;
    text-shadow: none; }
  77% {
    opacity: 0;
    text-shadow: none; }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85.1% {
    opacity: 0;
    text-shadow: none; }
  86% {
    opacity: 0;
    text-shadow: none; }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); } }

.animation-Woble {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both; }

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg); } }

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg); } }

/*TITULOS*/
.animation-textSombra:hover {
  -webkit-animation: text-shadow-pop-top 0.6s both;
  animation: text-shadow-pop-top 0.6s both; }

@-webkit-keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }

@keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }

/*IMAGEN PRINCIPAL*/
.animationImgPrincipal:hover {
  -webkit-animation: rotate-center 1s ease-in-out both;
  animation: rotate-center 1.5s ease-in-out both; }

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*ENCABEZADO*/
.animation-irAlEncabezado:hover {
  -webkit-animation: text-blur-out 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-blur-out 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01); }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%); } }

@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01); }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%); } }

/*IMAGENES SECTION GALERIA*/
.gridGaleria img:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px white;
  -webkit-box-shadow: 0px 0px 15px 15px white;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg); }

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 3rem !important;
  color: white !important; }
  .navbar-brand a {
    color: white; }

header {
  padding: 0;
  margin: 0; }

.menu-bar {
  background: linear-gradient(-90deg, #e8a0bf 14%, #a760ff 100%); }
  .menu-bar .navbar-toggler {
    outline: none !important;
    border: none !important; }

.nav-link {
  font-size: 30px;
  margin: 3px;
  color: white !important;
  font-weight: 500; }
  .nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid white;
    border-bottom: none; }

@media (min-width: 1024px) {
  .nav-link:hover {
    border-bottom: white 1px solid; } }

.navbar .fa {
  color: white;
  font-size: 26px; }

.titulo p {
  font-size: 2rem;
  color: white; }

.styleBody {
  font-family: "Oswald", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  background-image: url(../images/fondoSirena.jpg); }

.styleTitulos {
  color: white;
  font-family: "Staatliches", cursive;
  font-weight: bolder; }

.masVendidos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-items: center;
  gap: 10px;
  color: white;
  font-weight: bold; }
  .masVendidos img {
    width: 45%; }

.styleImgMasVendidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.slide img {
  height: 50vh; }

.divTutorial {
  display: flex;
  justify-content: center;
  align-items: center; }

iframe {
  width: 70%; }

.accordion-button:enabled {
  background-color: #4C0070;
  color: white;
  text-decoration: none; }

.accordion-body {
  background-color: #A760FF; }

footer {
  background-color: #E8A0BF;
  background-image: none; }

/**************************************************************************************--MEDIA QUERYS--*****************************************************************************************************************/
@media (min-width: 768px) {
  .masVendidos {
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0; }
    .masVendidos img {
      width: 60%; }
  footer {
    padding: 25px;
    border: none;
    margin: 0; }
  .preguntasFrecuentes div {
    text-align: right; } }

@media (min-width: 1024px) {
  .masVendidos {
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    margin: 0; }
  body {
    background-image: none;
    background-color: #E8A0BF; }
  header {
    border: 5px solid white; }
  .titulo p {
    color: white; }
  iframe {
    width: 850px;
    height: 600px; }
  .preguntasFrecuentes div {
    text-align: left; }
  .irAlEncabezado {
    display: flex;
    align-self: right; }
  h6 {
    font-size: 2.5em;
    margin-bottom: 20px; }
  .styleBody {
    background-image: none;
    background-color: #E8A0BF; }
  footer {
    background-image: url(../images/fondoSirena.jpg); } }
