/*
****PALETA DE COLORES****
#E8A0BF
#A760FF
#4C0070

****MIS FUENTES****
font-family: 'Oswald', sans-serif;
font-family: 'Staatliches', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Staatliches&display=swap'); /*llamado a las tipografias por css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*se genera el reset para que se vea igual la pagina en todos los navegadores*/

/***************MOBILE FIRST*******************/

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100%;

    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    background-image: url(../images/fondoSirena.jpg);
}

.styleBody{
    font-family: 'Oswald', sans-serif;

}

.styleTitulos{
    font-family: 'Staatliches', cursive;
    font-weight: bolder;
}


/*---------------------------------------GRID AREA*/


.grillaGeneral{
    display: grid;
    gap: 20px;
    grid-template-areas: 
                        "header"
                        "titulo"
                        "contenido"
                        "masVendidos"
                        "tutorial"
                        "preguntas"
                        "aside"
                        "footer";

}

header{
    grid-area: header;
}

.titulo{
    grid-area: titulo;
}

.divFotoPrincipal{
    grid-area: contenido;
}

.grillaMasVendidos{
    grid-area: masVendidos;
}

.divTutorial{
    grid-area: tutorial;
}

.preguntasFrecuentes{
    grid-area: preguntas;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}


.masVendidos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 15px;
    justify-items: center;
}
/*---------------------------------------------------------------------------------------------------HEADER----------*/


.titulo p{ display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bolder;
    color: whitesmoke

}
header {
    /*position: sticky;
    top: 0.1px;*/
    padding: 30px;
    margin: 0px 1px 0px 1px ;
    background-image: url(../images/fondoSirena.jpg);
}

/*con el position sticky puedo dejar la barra de navegacion fija al scrollear la pagina*/


.barraNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Staatliches', cursive;
    text-align: center;
}

.barraNav li {
    border: 5px solid  white;
    padding: 10px;
    background-color: black;
}

.barraNav li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

/*
con la propiedad list-style:none quitamos los puntitos (bullets) de la lista
con text-decoration: none quitamos el subrayado
*/


/*-----------------------------------------------------------------------------------------------MAIN---------*/

h1, h2, h3, h4, h5 {
    color: white;
    font-size: 2.5em;
    padding: 25px;
    text-align: center;
    border: 3px white solid;
    border-radius: 75px;
    margin: 20px 0px 20px 0px;
    background-color: #A760FF;
}

/*border: tiene que tener 3 calores MEDIDA-TIPO DE BORDE-COLOR */


img{
    border: 8px solid #A760FF;
    margin-top: 15px;
}



.masVendidos {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 10px;

    color: white;
    font-weight: bold;
}


.styleImgMasVendidos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.masVendidos img {
    width: 45%;
}


/*
las class se llaman por un . (punto)
font weight: bold es para ponerlo en negrita
*/


.divfotoPrincipal {
    display: flex;
    justify-content: center;
}

.styleFotoPrincipal{
    width: 55%;
    height: 10%;
    margin: 0 3px 0 3px ;

}
/*los id sirven para destacar solo 1. No es repetible */

.divTutorial{
    display: flex;
    justify-content: center;
}



iframe {
    width: 70%
}


/*------------------------------------------------------------------------------------------ARTICLE----------*/

h5 {
    text-align: center;
    border-radius: 0;
    background-color: #4C0070;
    margin-left: 3px;
    margin-right: 3px;
}



.preguntasFrecuentes div {
    background-color: #4C0070;

    text-align: center;
    font-size: 2em;
    color: white;
    border: 2px solid white;
    margin-left: 3px;
    margin-right: 3px;
}

/*---------------------------------------------------------------------------------------IR AL ENCABEZADO----------*/

.irAlEncabezado {
    text-align: center;
    margin-top: 25px ;
}


aside .irAlEncabezado a{
    font-size: 2em ;
    text-decoration: none;
    list-style: none;
    color: white;
}

/*----------------------------------------------------------------------------------FOOTER----------*/  

footer {
    background-color: #E8A0BF;
    padding: 25px;
    margin: 0 1px 0 1px;
}




.redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Staatliches', cursive;
    text-align: center;
}



.redesSociales li {
    padding: 10px;
    border: 5px double white;
    background-image: url(../images/fondoSirena.jpg);


}


.redesSociales li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
/**************************************************************************************--MEDIA QUERYS--*****************************************************************************************************************/

@media (min-width:768px) {

    .masVendidos{
        padding: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        margin: 0;
    }


    .barraNav {
        justify-content: space-between;
    }


    .barraNav li a {
        font-size: 1.8em;
    }
    

    h5 {
        text-align: right;
    }
    

    .preguntasFrecuentes div {
        text-align: right;
    }


    .irAlEncabezado {
        text-align: center;
    }
    

    .redesSociales {
        justify-content: space-evenly;
    }

    .masVendidos img {
        width: 60%;
    }
}



@media (min-width:1024px) {

    .masVendidos{
        padding: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
        margin: 0;
    }

    body {
        background-image: none;
        background-color: #E8A0BF;
    }


    header{
        border: 5px solid white;
    }

    .titulo p{ 
        color: white
    
    }

    .barraNav {
        justify-content: space-evenly;
    }


    .barraNav li a {
        font-size: 2.3em;
    }
    

    h5 {
        text-align: left;
    }
    


    .grillaMasVendidos{
        background-image: url(../images/fondoSirena.jpg);
    }


    iframe {
        width: 850px;
        height: 600px;
    }


    .preguntasFrecuentes div {
        text-align: left;
    }


    .irAlEncabezado {
        text-align: right;
    }
    

    .redesSociales {
        justify-content: space-evenly;
    }


    .redesSociales li a {
        font-size: 2.5em;
    }

    h6{
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    footer {
        padding: 25px;
        background-image: url(../images/fondoSirena.jpg);
        border: none;
        margin: 0
    }

    .styleBody{
        background-image: none;
        background-color: #E8A0BF;
    
    }
}

/***************************************************--PRODUCTOS-*/

.gridMensajes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
}

.styleImgProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.divTextoProductos  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A760FF;
    border: 3px solid white;
    height: 200px;
    width: 300px;
}

.divTextoProductos p{
    color: white;
    font-size: 1.5em;

}


.grillaGeneralProductos{
    display: grid;
    gap: 20px;
    grid-template-areas: 
                        "header"
                        "grillaProductos"
                        "grillaMensajes"
                        "aside"
                        "footer";
}

header{
    grid-area: header;
}


.grillaProductos{
    grid-area: grillaProductos;
}

.grillaMensajes{
    grid-area: grillaMensajes;
}

footer{
    grid-area: footer;
}


.gridProductos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
}


.styleImgProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.gridProductos img {
width: 55%;
}


@media (min-width:768px){

    .gridProductos{
        padding: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        margin: 0;
    }

    .gridProductos img{
        width: 75%;
        height: 85%;
    }
}


@media (min-width:1024px){

    .gridProductos{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .gridProductos img{
        width: 90%;
        height: 90%;
    }

    .gridMensajes{
        grid-template-columns: repeat(3,1fr);
    }

}

/*----------------------------------------------------------------GALERIA---------------*/

.grillaGeneralGaleria{
    display: grid;
    gap: 20px;
    grid-template-areas: 
                        "header"
                        "grillaGaleria"
                        "aside"
                        "footer";
}

.grillaGaleria{
    grid-area: grillaGaleria;
}


.gridGaleria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
}


.styleImgGaleria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


.gridGaleria img {
    width: 55%;
    }


@media (min-width:768px){

    .gridGaleria{
        padding: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        margin: 0;
    }

    .gridGaleria img{
        width: 75%;
    }
}


@media (min-width:1024px){

    .gridGaleria{
    grid-template-columns: 1fr 1fr 1fr;
    }

    .gridGaleria img{
        width: 90%;
    }

}



/*-------------------------------------------------------------------SOBRE NOSOTROS----------*/

.grillaGeneralSobreNosotros{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
                        "header"
                        "parrafos"
                        "imagenes"
                        "aside"
                        "footer";
}

.divSobreNosotros{
    grid-area: parrafos;

}

.divImgSobreNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    grid-area: imagenes;
}

.styleImgSobreNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divSobreNosotros p{
    text-align: center;
    color: white;
}

.divImgSobreNosotros img {
    justify-self: center;
    width: 50%;
    height: 50%;

}

@media (min-width:768px){

    .divImgSobreNosotros img{
        width: 60%;
    }
}


@media (min-width:1024px){

    .divImgSobreNosotros img{
        width: 40%;
    }

}

/*------------------------------------------CONTACTO-----------------*/

.sectionContactos{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.divContacto {
text-align: center;    color: white;
    background-color: #A760FF;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid white;
    padding: 30px;
    margin: 15px 10px 0 10px;
}

.grillaGeneralContactos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-areas: 
                        "header"
                        "sectionContactos"
                        "form"
                        "aside"
                        "footer";
}


.sectionContactos{
    grid-area: sectionContactos;
}

.form{
    grid-area: form;
    color: white;
}





/*****************************ANIMACIONES***************************/

/*NAV*/
.animation-Flicker:hover {
	-webkit-animation: text-flicker-in-glow 2s linear both;
    animation: text-flicker-in-glow 2s linear both;
}

@-webkit-keyframes text-flicker-in-glow {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        text-shadow: none;
    }
    10.1% {
        opacity: 1;
        text-shadow: none;
    }
    10.2% {
        opacity: 0;
        text-shadow: none;
    }
    20% {

        opacity: 0;
text-shadow: none;
    }
    20.1% {

        opacity: 1;
text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
        opacity: 0;
        text-shadow: none;
    }
    30% {
        opacity: 0;
        text-shadow: none;
    }
    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 0;
        text-shadow: none;
    }
    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
        opacity: 0;
        text-shadow: none;
    }
    57% {
        opacity: 0;
        text-shadow: none;
    }
    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
        opacity: 0;
        text-shadow: none;
    }
    65% {
        opacity: 0;
        text-shadow: none;
    }
    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
        opacity: 0;
        text-shadow: none;
    }
    77% {
        opacity: 0;
        text-shadow: none;
    }
    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
        opacity: 0;
        text-shadow: none;
    }
    86% {
        opacity: 0;
        text-shadow: none;
    }
    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}

@keyframes text-flicker-in-glow {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        text-shadow: none;
    }
    10.1% {
        opacity: 1;
        text-shadow: none;
    }
    10.2% {
        opacity: 0;
        text-shadow: none;
    }
    20% {
        opacity: 0;
        text-shadow: none;
    }
    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
    opacity: 0;
        text-shadow: none;
    }
    30% {
        opacity: 0;
        text-shadow: none;
    }
    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 0;
        text-shadow: none;
    }
    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
        opacity: 0;
        text-shadow: none;
    }
    57% {
        opacity: 0;
        text-shadow: none;
    }
    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
        opacity: 0;
        text-shadow: none;
    }
    65% {
        opacity: 0;
        text-shadow: none;
    }
    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
        opacity: 0;
        text-shadow: none;
    }
    77% {
        opacity: 0;
        text-shadow: none;
    }
    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
        opacity: 0;
        text-shadow: none;
    }
    86% {
        opacity: 0;
        text-shadow: none;
    }
    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}

.animation-Woble {
	-webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
    0%,

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {

    0%,

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}


/*******************TITULOS*****************/
.animation-textSombra:hover {
	-webkit-animation: text-shadow-pop-top 0.6s both;
	animation: text-shadow-pop-top 0.6s both;
}


@-webkit-keyframes text-shadow-pop-top {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

@keyframes text-shadow-pop-top {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}


/*******************IMAGEN PRINCIPAL*****************/
.animation-ImgPrincipal:hover {
	-webkit-animation: rotate-center 1s ease-in-out both;
	animation: rotate-center 1.5s ease-in-out both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*******************ENCABEZADO*****************/
.animation-irAlEncabezado:hover{
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}

@keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}


/*******************IMAGENES SECTION GALERIA*****************/
.gridGaleria img:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px white;
    -webkit-box-shadow: 0px 0px 15px 15px white;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    }