

.styleBody{
    font-family: $ff-body;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    background-image: none;
    background-color: $color-pink;}


.masVendidos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
    img {
        width: 45%;
    }
}


.styleImgMasVendidos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grillaGeneral{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-areas: 
                        "header"
                        "slider"
                        "masVendidos"
                        "tutorial"
                        "preguntas"
                        "aside"
                        "footer";
}
header{
    grid-area: header;
}

.slider{
    grid-area: slider;
}
.grillaMasVendidos{
    grid-area: masVendidos;
}
.divTutorial{
    grid-area: tutorial;
}
.preguntasFrecuentes{
    grid-area: preguntas;
}
aside{
    grid-area: aside;
}

footer{
    grid-area: footer;

}

.slider{
    
    width: 100%;
    margin: auto;
    overflow: hidden;
    ul{
        padding: 0;
        display: flex;
        width: 400%;

        animation: slider 20s infinite alternate;
    }
    li{
        width: 100%;
        list-style: none;
        img{
            width: 65%;
        }
    }
}

@keyframes slider{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25% {margin-left: -100%;}
    45%{margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
    
}
.accordion-item{
    font-family: $ff-headings;
    color: $color-white;
}

.slide{
    img {
        height: 50vh;

    }
}



.divTutorial{
    @include flex-center
}


iframe {
    width: 70%;
}



.accordion-button{
    &:enabled{
        background-color: $color-violet;
        color: $color-white;
        text-decoration: none;
    }
}


.accordion-body{
    background-color: $color-violet-light;
}

.irAlEncabezado{
    justify-content: center;
}
footer{
    background-image: url(../images/fondoSirena.jpg);}
/**************************************************************************************--MEDIA QUERYS--*****************************************************************************************************************/

@media (min-width:500px) {

    .masVendidos{
        padding: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        margin: 0;

        img {
            width: 60%;
        }
    }


    footer {
        padding: 25px;
        border: none;
        margin: 0
    }



}

@media (min-width:1024px) {
    .masVendidos{
        padding: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
        margin: 0;
    }

    body {
        background-image: none;
        background-color: #E8A0BF;
    }


    header{
        border: 5px solid $color-white;
    }

    .titulo {
        p{ 
            color: $color-white

        }
    }



    iframe {
        width: 850px;
        height: 600px;
    }








    h6{
        font-size: 2.5em;
        margin-bottom: 20px;
    }


.styleBody{
    background-image: none;
    background-color: $color-pink;

}


}